@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
  margin: 0;
  padding: 0;
  /* margin-top: 130px; */
  /* text-align: center; */
  /* background-color: black; */
  /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000) fixed; */
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #384f66, #19314b, #091a2b) fixed;
  /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #3a5776, #1f3852, #0b1b2c) fixed; */
  /* width: 100vw; */
  /* min-height: 100vh; */
  font-family: 'Share Tech', sans-serif;
  text-shadow: 4px 4px 10px #f6f5f556;
  /* color: rgb(163, 189, 240); */
  /* color: rgb(222, 201, 117); */
  color: rgb(241, 246, 246);
  /* background: -webkit-gradient(linear, right top, left bottom, from(#0b1b2c), to(#1f3852), to(#a0b9d4)) fixed; */
  /* background: linear-gradient(to bottom left, #0b1b2c, #1f3852, #4b6178) fixed; */
}

/* ============>> NAVBAR <<============ */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  /* width: 80vh; */
  /* margin: 0 auto; */
  padding: 0 3vh;
  /* border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%; */
  text-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.navbar-colored {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(51, 48, 48, 0.554); */
  background-color: rgba(29, 60, 98, 0.882);
  height: 7vh;
  /* width: 80vh; */
  /* margin: 0 auto; */
  padding: 0 3vh;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  /* border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%; */
  text-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.navbar-links {
  display: flex;
  column-gap: 5vh;
}

.nav-link {
  font-size: 20px;
  color: #cdcdcd;
  text-decoration: none;
}
.nav-link:hover {
  color: rgb(214, 227, 255);
  transform: translate(0, 3px);
  text-shadow: 3px 3px 10px #f6f5f556;
}
.nav-link:active {
  transform: scale(0.95);
}

.logo img {
  height: 5.4vh;
  border: 1px solid rgb(35, 81, 110);
  border-radius: 50%;
}

/* ============>> WELCOME PAGE <<============ */

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6vh 0;
  margin: 0 10vh;
  background-color: rgba(10, 7, 40, 0.441);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 6% 14%;
  border-bottom-right-radius: 6% 14%;
  border: 2px solid rgb(14, 22, 69);
}

.welcome-info {
  display: flex;
  color: rgb(241, 246, 246);
  margin-top: 15vh;
  column-gap: 6vh;
  background: linear-gradient(rgb(149, 183, 210), rgb(66, 112, 150)) center/2px 70% no-repeat;
  width: 95vh;
  align-items: center;
  z-index: 99999;
}

.welcome-info h1 {
  font-size: 85px;
  text-align: right;
  color: #bbcee2;
}

.welcome-info h2 {
  font-size: 45px;
}

.welcome-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
  background-color: rgba(65, 73, 119, 0.817);
  /* width: 15.5em;
  height: 3em; */
  padding: 1vh 1vh;
  border-radius: 6% / 30%;
  text-shadow: none;
  cursor: pointer;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.7);
}

.welcome-btn:active {
  transform: scale(0.9);
}

.btn-txt {
  font-size: 18px;
  color: rgb(66, 112, 150);
  color: rgb(200, 207, 214);
  padding: 0 1vh;
  text-decoration: none;
}
.btn-txt:hover {
  color: rgb(226, 228, 234);
  text-shadow: 4px 4px 10px #f6f5f556;
}

.comp-logo img {
  height: 40vh;
  width: 40vh;
  border: 2px solid rgb(64, 139, 177);
  border-radius: 50%;
  object-fit: cover;
  background-color: #455d77;
  position: absolute;
  top: 18%;
  right: 10%;
}

.comp-logo img {
  object-position: 50% 24%;
}

.built-scratch {
  align-self: flex-end;
  position: absolute;
  bottom: 17%;
  right: 8%;
  font-size: 26px;
  font-family: 'Dancing Script', cursive;
}

/* ============>> ABOUT PAGE <<============ */

#miami-banner {
  width: 100%;
}

.about-page {
  text-align: center;
  margin-bottom: 10vh;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 12vh;
  margin-top: 5vh;
  overflow: hidden;
}

.profile-info {
  display: flex;
  column-gap: 15vh;
  row-gap: 6vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-photo img {
  height: 40vh;
  width: 40vh;
  border: 2px groove rgb(64, 139, 177);
  border-radius: 50%;
  /* border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%; */
  object-fit: cover;
  object-position: 50% 24%;
  display: flex;
}

.bio {
  width: 60vh;
  padding: 1vh 4vh;
  text-align: justify;
  background-color: rgba(10, 7, 40, 0.441);
  border-radius: 4% / 11%;
  border: 2px solid rgb(14, 22, 69);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  text-shadow: none;
  line-height: 1.5;
}

.stack-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 4vh;
  column-gap: 8vh;
  padding: 3vh 4vh;
  background-color: rgba(10, 7, 40, 0.441);
  border-radius: 2% / 27%;
  border: 2px solid rgb(14, 22, 69);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  margin: 0 5rem;
}

.stack-icons img {
  height: 8vh;
  background: none;
  box-shadow: none;
}

.experience {
  display: flex;
  justify-content: center;
  column-gap: 18vh;
  flex-wrap: wrap;
  row-gap: 6vh;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vh;
  min-width: 36vh;
  min-height: 25vh;
  padding: 1vh 4vh;
  text-align: justify;
  background-color: rgba(10, 7, 40, 0.441);
  border-radius: 6% / 11%;
  border: 2px solid rgb(14, 22, 69);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  text-shadow: none;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  row-gap: 3vh;
  column-gap: 2vh;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  list-style: none;
  max-height: 15vh;
  min-width: 35vh;
}

.skills h3 {
  text-align: center;
  text-shadow: none;
  color: rgb(214, 227, 255);
}

.education-container {
  display: flex;
  column-gap: 6vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 6vh;
}

.education-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(10, 7, 40, 0.441);
  border-radius: 6% / 11%;
  border: 2px solid rgb(14, 22, 69);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  max-width: 62vh;
  min-height: 39vh;
  row-gap: 2vh;
  padding: 1vh 3vh 3vh 3vh;
  text-align: justify;
}

.education-history h3 {
  text-align: center;
  text-shadow: none;
  color: rgb(214, 227, 255);
}

.education-history h4 {
  padding: 0.5vh 0;
}

.education-history p {
  margin: 0;
  line-height: 1.5;
}

.education-history span {
  font-style: italic;
  font-size: 15px;
}

#resume-thumbnail {
  max-width: 33vh;
  border-radius: 10% / 8%;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  filter: invert(8%)
}

#resume-thumbnail:hover {
  filter: none;
  transform: scale(.96);
}

#right-arrow {
  /* max-height: 7vh; */
  max-width: 8rem;
  box-shadow: none;
  filter: none;
}

#about-comp {
  position: fixed;
  height: 150vh;
  right: -10%;
  top: -20%;
  z-index: -1;
  opacity: 40%;
}

/* ============>> PROJECTS PAGE <<============ */

.projects-whole {
  margin-bottom: 148vh;
}

.projects-page {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 8vh;
  text-align: center;
}

.projects-container {
  margin-top: 7vh;
  /* width: 75vw; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  row-gap: 7rem;
  column-gap: 5rem;
  /* background-color: rgba(10, 7, 40, 0.441); */
  padding: 5vh;
  border-radius: 5%;
  /* border: 2px solid rgb(14, 22, 69); */
  position: absolute;
  /* box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7); */
}

.project-card {
  display: flex;
  /* border: 2px solid  rgba(82, 89, 130, 0.789); */
  /* background-color: rgba(10, 7, 40, 0.215); */
  /* border-radius: 50%; */
  padding: 1em 0.5em 2em 0.5em;
  /* width: 24em; */
  column-gap: 8rem;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 4rem;
  justify-content: center;
  /* box-shadow: 0 20px 30px -8px rgba(0, 0, 0, 0.7); */
}

.project-card-reversed {
  display: flex;
  flex-direction: row-reverse;
  padding: 1em 0.5em 2em 0.5em;
  column-gap: 8rem;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 4rem;
  justify-content: center;
}

.project-img-grid img {
  width: 46rem;
  height: 46rem;
  max-width: 46rem;
  max-height: 46rem;
  border-radius: 50%;
  border: 2px solid rgba(46, 112, 145, 0.849);
  box-shadow: 0 20px 30px -8px rgba(0, 0, 0, 0.7);
  background-color: rgba(25, 53, 68, 0.434);
  object-fit: cover;
  /* position: absolute;
  top: 18%;
  right: 10%; */
}

.project-details {
  display: flex;
  flex-direction: column;
}

.project-name-grid {
  max-width: 35rem;
  background-color: rgba(10, 7, 40, 0.441);
  border-radius: 6% / 11%;
  border: 2px solid rgb(14, 22, 69);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  padding: 0 2rem 2rem 2rem;
}

.stacks-used {
  font-weight: 100;
  font-style: italic;
}

#credentials {
  font-size: 14px;
  margin-top: 0;
  padding-top: 0;
}

.project-name-grid h2 {
  text-align: center;
}

.project-name-grid h3 {
  text-align: justify;
  font-size: 17px;
}

.project-name-grid p {
  line-height: 1.5;
  text-align: justify;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
}

.git-btn-grid, .dep-btn-grid {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}

#git-btn, #dep-btn {
  font-size: 16px;
  /* color: rgb(214, 198, 154); */
  color: rgb(163, 189, 240);
  margin: 0;
  /* padding: 4px 11px; */
  padding: 8px 12px;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  border: 2px outset rgba(82, 89, 130, 0.72);
  background-color: rgba(82, 89, 130, 0.313);
  border-radius: 6% / 17%;
  /* border-radius: 25%; */
  transition: all 0.5s
}

.git-btn-grid:hover, #git-btn:hover, .dep-btn-grid:hover, #dep-btn:hover {
  /* color: rgb(231, 241, 203); */
  color: rgb(214, 227, 255);
  transform: scale(0.9);
  text-shadow: 3px 3px 10px #f6f5f556;
}

#git-btn:hover, #dep-btn:hover {
  border: 2px inset rgba(160, 165, 196, 0.951);
}

.git-btn-grid:active, .dep-btn-grid:active {
  transform: scale(0.8);
}

/* ============>> FLOATING CONTACT CONTAINER <<============ */

.floating-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2.5vh;
  background-color: rgba(52, 59, 100, 0.817);
  width: 10vh;
  max-height: 27vh;
  border-radius: 10% / 5%;
  position: fixed;
  margin-left: 2vh;
  bottom: 5%;
  padding-top: 1.7vh;
  padding-bottom: 1vh;
  box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.7);
  z-index: 9999999;
}

.floating-contact h5 {
  margin: 0;
  text-shadow: none;
  color:rgb(157, 183, 207)
}
#email-icon:hover, #linkedin-icon:hover, #github-icon:hover, #resume-icon:hover {
  transform: scale(.87);
  filter: none;
}

#email-icon, #linkedin-icon, #github-icon, #resume-icon {
  max-height: 2.2rem;
  max-width: 2.2rem;
  cursor: pointer;
  filter: invert(25%)
}

/* ============>> CONTACT ME PAGE <<============ */

.contact-page {
  margin-top: 10vh;
  text-align: center;
}

.contact-me-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 6vh 2.5vw 0 2.5vw;
  background: linear-gradient(rgb(105, 124, 165), rgba(68, 63, 122, 0.542)) center/1.5px 90% no-repeat;
  background-color: rgba(10, 7, 40, 0.441);
  padding: 0;
  min-height: 69vh;
  border-radius: 4% / 8%;
  border: 2px solid rgb(14, 22, 69);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  right: 0;
}

.contact-me-socials-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(52, 59, 100, 0.817);
  width: 44vh;
  height: 46vh;
  border-radius: 13%;
  box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.7);
  margin-left: 3.5vw;
}

.contact-me-socials {
  display: flex;
  flex-direction: column;
  row-gap: 3.4vh;
}

.contact-me-email, .contact-me-linkedin, .contact-me-github {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  column-gap: 2vh;
  max-height: 6vh;
  padding: 2.5vh 1.5vh;
  text-decoration: none;
}

.contact-me-email:hover, .contact-me-linkedin:hover, .contact-me-github:hover {
  /* border: 1px solid rgb(214, 227, 255); */
  background-color: rgba(214, 227, 255, 0.12);
  border-radius: 8% / 26%;
  cursor: pointer;
}

.contact-me-email:hover #ct-me-email-icon, .contact-me-linkedin:hover #ct-me-linkedin-icon, .contact-me-github:hover #ct-me-github-icon {
  filter: none;
}

.contact-me-email:hover *, .contact-me-linkedin:hover *, .contact-me-github:hover * {
  color: rgb(214, 227, 255);
  text-shadow: 1px 1px 3px #f6f5f556;
}

.contact-me-email:active, .contact-me-linkedin:active, .contact-me-github:active {
  transform: scale(.95);
}

.contact-me-email-text, .contact-me-linkedin-text, .contact-me-github-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 7vh;
}

.contact-me-email-text h3, h4, .contact-me-linkedin-text h3, h4, .contact-me-github-text h3, h4 {
  margin: 0;
  text-shadow: none;
  color: rgb(214, 227, 255);
}

#ct-me-email-icon, #ct-me-linkedin-icon, #ct-me-github-icon {
  max-height: 3em;
  max-width: 3em;
  filter: invert(15%);
}

/* ============>> CONTACT FORM FIELDS <<============ */

.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* row-gap: 2em; */
  margin-left: 7vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
  width: 30em;
  padding-top: 3.4em;
}

.input-fields {
  padding: 0 0.5em 0 1em;
  height: 3em;
  font-size: 18px;
  background-color: #6f6f72cf;
  color: white;
  border-radius: 2% / 19%;
  border: 0.1em solid #aaa5a5;
  box-sizing: border-box;
  box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.7);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

::placeholder {
  color: white;
  opacity: .6;
  font-size: 18px;
  
}
.input-fields:focus, .textarea:focus {
  outline: none;
  border: 3px solid rgba(212, 210, 210, 0.828);
}

.textarea {
  padding: 0.5em 0 0 1em;
  height: 7em;
  font-size: 16px;
  font-family: 'Share Tech', sans-serif;
  background-color: #6f6f72cf;
  color: white;
  margin-top: 0.1em;
  margin-bottom: 1em;
  border: 0.1em solid #aaa5a5;
  border-radius: 2% / 9%;
  box-sizing: border-box;
  resize: none;
  box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.7);
}

.msg-sent-conf-hidden h3 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 1.5em;
  opacity: 0;
}

.msg-sent-conf-visible h3 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 1.5em;
  color: rgb(186, 220, 244);
}

/* ============>> CONTACT FORM BUTTON <<============ */

.contact-btn {
  position: relative;
  width: 9.5em;
  height: 2.5em;
  font-size: 15px;
  margin: 0 auto;
  border-radius: 30%;
  cursor: pointer;
  background-color: rgb(61, 59, 59);
  color: #cdcdcd;
  border: 2px outset rgba(205, 202, 202, 0.828);
  transition: all 0.5s;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}
.contact-btn:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 9px;
  right: -20px;
  transition: 0.5s;
}
.contact-btn:hover {
  background-color: rgb(100, 97, 97);
  border: 2px solid #b6b2b2;
  color: #dedcdc;
  padding-right: 28px;
}
.contact-btn:hover:after {
  opacity: 1;
  right: 8px;
}
.contact-btn:active {
  transform: scale(.90);
}

/* ============>> FOOTER <<============ */

footer {
  background-color: black;
  height: 12vh;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}

/* ======>>======>>> TABLET-FRIENDLY RESPONSIVE <<<======<<====== */

@media all and (max-width: 768px) {
  
  /* .profile-container {
    overflow: hidden;
  }
  
  .stack-icons {
    min-width: 116vh;
    border-radius: 3% / 29%;
    column-gap: 4vh;
  }

  .profile-container {
    overflow-x: hidden;
  } */

  /* .comp-logo img {
    height: 33vh;
    width: 33vh;
    border: 2px solid rgb(64, 139, 177);
    border-radius: 50%;
    object-fit: cover;
    background-color: #455d77;
    position: absolute;
    top: 22%;
    right: 8%;
  }
  
  .comp-logo img {
    object-position: 50% 24%;
  } */

  .built-scratch {
    align-self: flex-end;
    position: absolute;
    bottom: 17%;
    right: 10%;
    font-size: 26px;
    font-family: 'Dancing Script', cursive;
  }
}

/* ======>>======>>> MOBILE-FRIENDLY RESPONSIVE <<<======<<====== */

@media all and (max-width: 600px) {

  .comp-logo img {
    height: 16vh;
    width: 16vh;
    top: 41%;
    right: 33%;
  }

  .navbar {
    padding: 0 1vh;
    justify-content: space-between;
  }

  .navbar-colored {
    padding: 0 1vh;
    justify-content: space-between;
  }

  .navbar-links {
    display: flex;
    column-gap: 2vh;
  }

  .nav-link {
    font-size: 17px;
  }

  .logo img {
    height: 4.3vh;
    border: 1px solid rgb(35, 81, 110);
    border-radius: 50%;
  }

  .welcome-container {
    padding: 0 0 15vh 0;
    margin: 0;
    width: 99%;
    border-bottom-left-radius: 12% 8%;
    border-bottom-right-radius: 12% 8%;
  }

  .welcome-info {
    display: flex;
    flex-direction: column;
    column-gap: 2vh;
    background: none;
    width: 36vh;
  }

  .welcome-info h1 {
    font-size: 40px;
  }
  
  .welcome-info h2 {
    font-size: 20px;
  }

  .btn-txt {
    font-size: 15px;
  }

  .built-scratch {
    text-align: center;
    position: absolute;
    bottom: 15%;
    font-size: 23px;
    left: 0%;
    width: 100%;
    font-family: 'Dancing Script', cursive;
  }

  .floating-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 3.5vh;
    background-color: rgba(52, 59, 100, 0.932);
    width: 32vh;
    max-height: 5.5vh;
    border-radius: 8% / 23%;
    position: fixed;
    padding-top: 1.3vh;
    padding-bottom: 1.3vh;
    box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.7);
    z-index: 99999999;
    margin: 0;
    bottom: 2%;
  }
  
  .floating-contact h5 {
    text-shadow: none;
    color:rgb(157, 183, 207)
  }
  #email-icon:hover, #linkedin-icon:hover, #github-icon:hover, #resume-icon:hover {
    transform: scale(.87);
    filter: none;
  }
  
  #email-icon, #linkedin-icon, #github-icon, #resume-icon {
    max-height: 2.2em;
    max-width: 2.2rem;
    min-height: 0;
    min-width: 0;
    cursor: pointer;
    filter: invert(25%)
  }

  #miami-banner {
    width: 100%;
  }

  .about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6vh;
    margin-bottom: 8vh;
    overflow-x: hidden;
  }

  .profile-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5vh;
  }

  .profile-info {
    flex-direction: column;
    column-gap: none;
    row-gap: 6vh;
  }

  .profile-photo img {
    height: 25vh;
    width: 25vh;
  }
  
  .bio {
    width: 35vh;
    padding: 1vh 4vh;
    text-align: justify;
    background-color: rgba(10, 7, 40, 0.441);
    border-radius: 9% / 9%;
    border: 2px solid rgb(14, 22, 69);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
    text-shadow: none;
    line-height: 1.5;
  }

  .stack-icons {
    width: 35vh;
    border-radius: 8% / 15%;
    column-gap: 3vh;
  }

  .stack-icons img {
    height: 4.5vh;
  }

  .experience {
    flex-direction: column;
    row-gap: 7vh;
  }

  .education-container {
    flex-direction: column;
    row-gap: 6vh;
  }

  .education-history {
    max-width: 38vh;
    min-height: 46vh;
    border-radius: 9% / 9%;
  }

  #resume-thumbnail {
    height: 35vh;
  }

  #right-arrow {
    display: none;
  }

  .projects-whole {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 368vh; */
  }

  .projects-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
    margin-bottom: 510vh;
  }

  .projects-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    row-gap: 4em;
    column-gap: 0;
    background: none;
    padding: 0;
    border-radius: none;
    border: none;
    box-shadow: none;
    margin-top: 10vh;
  }
  
  .project-card {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    overflow-x: hidden;
  }

  .project-card-reversed {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    overflow-x: hidden;
  }

  .project-img-grid img {
    max-width: 22rem;
    max-height: 22rem;
  }
  
  .project-name-grid {
    border-radius: 10% / 8%;
  }
  
  .project-links {
    display: flex;
    justify-content: space-evenly;
  }
  
  .git-btn-grid, .dep-btn-grid {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
  }
  
  #git-btn, #dep-btn {
    font-size: 16px;
    color: rgb(163, 189, 240);
    margin: 0;
    padding: 6px 10px;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
  }
  
  .git-btn-grid:hover, #git-btn:hover, .dep-btn-grid:hover, #dep-btn:hover {
    color: rgb(214, 227, 255);
    transform: scale(0.9);
    text-shadow: 3px 3px 10px #f6f5f556;
  }
  
  .git-btn-grid:active, .dep-btn-grid:active {
    transform: scale(0.8);
  }
  
  .contact-page {
    margin-bottom: 120vh;
  }

  .contact-me-container {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 6vh;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background: none;
    background-color: rgba(10, 7, 40, 0.441);
    padding: 0;
    height: 105vh;
    padding-bottom: 4vh;
    border-radius: 12% / 5%;
    border: 2px solid rgb(14, 22, 69);
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    flex-wrap: nowrap;
  }

  .contact-me-socials {
    row-gap: 2.5vh;
    padding: 2vh;
  }

  .contact-me-socials-grid {
    width: 38vh;
    height: 41vh;
    border-radius: 13%;
    box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.7);
    margin: 0;
  }

  .contact-me-email, .contact-me-linkedin, .contact-me-github {
    padding: 2.5vh 1vh;
  }

  .contact-me-email-text h3, .contact-me-linkedin-text h3, .contact-me-github-text h3 {
    font-size: 16px;
  }

  .contact-me-email-text h4, .contact-me-linkedin-text h4, .contact-me-github-text h4 {
    font-size: 14px;
  }

  #ct-me-email-icon, #ct-me-linkedin-icon, #ct-me-github-icon {
    max-height: 2.5em;
    filter: invert(15%);
  }

  .contact-container{
    margin: 0;
  }

  .contact-form {
    width: 22em;
  }

  .input-fields {
    height: 2.5em;
    font-size: 16px;
  }

  ::placeholder {
    color: white;
    opacity: .6;
    font-size: 16px;
  }

  .textarea {
    height: 6em;
  }
}